.resources_grid {
    display: flex !important;
    flex-wrap: wrap !important;
    gap: 24px !important;
    justify-content: flex-start;

}

.resource_item {
    flex: 0 0 calc(25% - 24px);
    box-sizing: border-box;
    border: 0.5px solid #ccc;
    padding: 16px;
    border-radius: 8px;
    background: #fff;
}

.resource_item .resources-img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.resource_item h3 {
    font-size: 18px;
    margin: 10px 0;
}

/* Excerpt */
.resource_item p {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}

/* Read More btn */
.resource_item a {
    font-size: 15px;
    text-decoration: none !important;
    color: #0073aa;
    font-weight: bold;
    
}

/* Responsive */
@media (max-width: 1024px) {
    .resource_item {
        flex: 0 0 calc(33.33% - 24px);
    }
}
@media (max-width: 768px) {
    .resource_item {
        flex: 0 0 calc(50% - 24px);
    }
}
@media (max-width: 600px) {
    .resource_item {
        grid-template-columns: 1fr;
    }
}
